body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

nav {
    background-color: #015551;
    color: white;
    padding: 0px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-right {
    display: flex;
    align-items: center;
}

nav menu {
    list-style: none;
    display: flex;
}

nav menu li {
    margin-left: 20px;
    cursor: pointer;
    transition: color 0.3s;
}

nav menu li:hover {
    color: #ddd;
}

.product-container {
    padding: 80px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.search-bar {
    margin-bottom: 20px;
    align-self: flex-start;
}

#search-input {
    padding: 8px;
    width: 300px;
}

.product-grid {
    display: flex;
    flex-direction: column;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    background-color: #f0f0f0;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.product img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.quantity-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.quantity-controls button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.cart-icon {
    margin-left: 20px;
    cursor: pointer;
    color: #95cad2;
}

.cart-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-page div {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.cart-items {
    list-style: none;
    padding: 0;
}

.cart-items li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.checkout-button, .back-to-products, .back-to-products-payment {
    background-color: #015551;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.payment-container {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    #search-input {
        width: 100%;
    }

    .product-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 480px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}

.add-to-cart{
    margin-top: 10px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Fixed 5 columns */
    gap: 20px;
}